@model Multi_Ad_Runn.Models.User_Master
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/User_MasterPage.cshtml";
}

@using (Html.BeginForm("SignUp", "UserMaster", FormMethod.Post))
{
    <section id="main" class="clearfix user-page">
        <div class="container">
            <div class="row text-center">

                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="user-account">
                        <h2>Create an Account</h2>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.ValidationSummary(true, "", new { @class = "text-success" })
                    <form action="#">
                        <div class="form-group">
                            @*<input type="text" class="form-control" placeholder="Name">*@
                            @Html.TextBoxFor(model => model.U_Name, htmlAttributes: new { @class = "form-control", @placeholder = "Enter User Name" })
                            @Html.ValidationMessageFor(model => model.U_Name, "", new { @class = "alert alert-danger" })
                            @*@Html.TextBox("txtName", "", new { @class = "form-control", @placeholder = "Username" })*@
                        </div>
                        <div class="form-group">
                            @*<input type="email" class="form-control" placeholder="Email Id">*@
                            @Html.TextBoxFor(model => model.U_Email, htmlAttributes: new { @class = "form-control", @placeholder = "Enter User Email Id" })
                            @Html.ValidationMessageFor(model => model.U_Email, "", new { @class = "alert alert-danger" })
                            @*@Html.TextBox("txtEmail", "", new { @class = "form-control", @placeholder = "Email Id" })*@
                        </div>
                        <div class="form-group">
                            @*<input type="password" class="form-control" placeholder="Password">*@
                            @Html.TextBoxFor(model => model.U_Contact, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Contact No " })
                            @Html.ValidationMessageFor(model => model.U_Contact, "", new { @class = "alert alert-danger" })
                            @*@Html.TextBox("txtContactNo", "", new { @class = "form-control", @placeholder = "ContactNo" })*@
                            @*@Html.Password("txtPassword", "", new { @class = "form-control", @placeholder = "Password" })*@
                        </div>
                        <!--<div class="form-group">-->
                        @*<input type="password" class="form-control" placeholder="Confirm Password">*@
                        @*@Html.Password("txtCNFPassword", "", new { @class = "form-control", @placeholder = "Confirm Password" })
        </div>*@
                        <div class="form-group">
                            @*<input type="text" class="form-control" placeholder="Mobile Number">*@
                            @Html.PasswordFor(model => model.U_Password, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Password " })
                            @Html.ValidationMessageFor(model => model.U_Password, "", new { @class = "alert alert-danger" })
                            @*@Html.Password("txtPassword", "", new { @class = "form-control", @placeholder = "Password" })*@
                        </div>

                        @*<select class="form-control">
            <option value="#">Select City</option>
            <option value="#">London UK</option>
            <option value="#">Newyork, USA</option>
            <option value="#">Seoul, Korea</option>
            <option value="#">Beijing, China</option>
        </select>*@
                        @*@Html.DropDownList("ddCity", new List<SelectListItem>
        {

            new SelectListItem{Text="Bharuch",Value="1",Selected=true},
            new SelectListItem{Text="Vadodara",Value="2"},
            new SelectListItem{Text="Ahemdabad",Value="3"},
            new SelectListItem{Text="Surat",Value="4"},
        }, "Select City", new { @class = "form-control" })*@
                        @*<div class="checkbox">
            <label class="pull-left checked" for="signing"><input type="checkbox" name="signing" id="signing"> By signing up for an account you agree to our Terms and Conditions </label>
        </div>*@

                        <button type="submit" class="btn">Registration</button>
                        <div class="alert alert-success">@Html.ViewData["Message"]</div>
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
}
@*<script src="~/js/jquery.min.js" type="ceafcf6594ebb5a1a4b3c981-text/javascript"></script>
<script src="~/js/popper.min.js" type="ceafcf6594ebb5a1a4b3c981-text/javascript"></script>
<script src="~/js/modernizr.min.js" type="ceafcf6594ebb5a1a4b3c981-text/javascript"></script>
<script src="~/js/bootstrap.min.js" type="ceafcf6594ebb5a1a4b3c981-text/javascript"></script>
<script src="https://maps.google.com/maps/api/js?sensor=true" type="ceafcf6594ebb5a1a4b3c981-text/javascript"></script>
<script src="~/js/gmaps.min.js" type="ceafcf6594ebb5a1a4b3c981-text/javascript"></script>
<script src="~/js/owl.carousel.min.js" type="ceafcf6594ebb5a1a4b3c981-text/javascript"></script>
<script src="~/js/scrollup.min.js" type="ceafcf6594ebb5a1a4b3c981-text/javascript"></script>
<script src="~/js/price-range.js" type="ceafcf6594ebb5a1a4b3c981-text/javascript"></script>
<script src="~/js/jquery.countdown.js" type="ceafcf6594ebb5a1a4b3c981-text/javascript"></script>
<script src="~/js/custom.js" type="ceafcf6594ebb5a1a4b3c981-text/javascript"></script>
<script src="~/js/switcher.js" type="ceafcf6594ebb5a1a4b3c981-text/javascript"></script>
<script type="ceafcf6594ebb5a1a4b3c981-text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','../../www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73239902-1', 'auto');
    ga('send', 'pageview');

</script>
<script src="../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="ceafcf6594ebb5a1a4b3c981-|49" defer=""></script>*@

