@model IEnumerable<Multi_Ad_Runn.Areas.Admin_Panel.Data.Feedback_Master>
@{
    ViewBag.Title = "ViewAllFeedback";
    Layout = "~/Areas/Admin_Panel/Views/Admin_MasterPage.cshtml";
}

<!--**********************************
           Content body start
       ***********************************-->



<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>
<!-- row -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">All Feedback</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>NAME</th>
                                    <th>Email Id</th>
                                    <th>Subject</th>
                                    <th>Message</th>
                                    <th>Status</th>
                                    <th>DATE</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.F_Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.F_Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.F_Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.F_Title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.F_Message)</td>
                                    <td>@Html.DisplayFor(modelItem => item.F_Status)</td>
                                    <td>@Html.DisplayFor(modelItem => item.F_Date)</td>

                                </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>NAME</th>
                                    <th>Email Id</th>
                                    <th>Subject</th>
                                    <th>Message</th>
                                    <th>Status</th>
                                    <th>DATE</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #/ container -->
<!--**********************************
    Content body end
***********************************-->
