@model Multi_Ad_Runn.Models.Change_Password
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/User_MasterPage.cshtml";
}

@using (Html.BeginForm("ChangePassword", "PublisherMaster", FormMethod.Post))
{
    <section id="main" class="clearfix  ad-profile-page">
        <div class="container">
            <div class="breadcrumb-section">

                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Ad Post</li>
                </ol>
                <h2 class="title">My Profile</h2>
            </div>
            <div class="ad-profile section">
                <div class="user-profile">
                    <div class="user-images">
                        <img src="~/images/user.jpg" alt="User Images" class="img-fluid">
                    </div>
                    <div class="user">
                        <h2>Hello, <a href="#">@Html.DisplayFor(model => model.U_Name)</a></h2>

                    </div>
                    <div class="favorites-user">
                        <div class="my-ads">
                            <a href="my-ads.html">23<small>My ADS</small></a>
                        </div>
                        <div class="favorites">
                            <a href="#">18<small>Favorites</small></a>
                        </div>
                    </div>
                </div>
                <ul class="user-menu">
                    <li class="active"><a href="~/Profile/UserProfile">Profile</a></li>
                    <li><a href="~/Profile/ChangePassword">Change Password</a></li>
                   
                </ul>
            </div>
            <div class="profile">
                <div class="row">
                    <div class="col-md-8">
                        <div class="user-pro-section">



                            <div class="change-password section">
                                <h2>Change password</h2>
                                @Html.HiddenFor(model => model.Pu_Id)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.ValidationSummary(true, "", new { @class = "text-success" })
                                <div class="form-group">
                                    <label>Old Password</label>
                                    @*<input type="password" class="form-control">*@
                                    @Html.TextBoxFor(model => model.Pu_Password, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Old Password" })
                                    @Html.ValidationMessageFor(model => model.U_Password, "", new { @class = "alert alert-danger" })
                                </div>
                                <div class="form-group">
                                    <label>New password</label>
                                    @*<input type="password" class="form-control">*@
                                    @Html.TextBoxFor(model => model.New_Password, htmlAttributes: new { @class = "form-control", @placeholder = "Enter New Password" })
                                    @Html.ValidationMessageFor(model => model.New_Password, "", new { @class = "alert alert-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Confirm password</label>
                                    @*<input type="password" class="form-control">*@
                                    @Html.TextBoxFor(model => model.Confirm_Password, htmlAttributes: new { @class = "form-control", @placeholder = "Re Type new Password" })
                                    @Html.ValidationMessageFor(model => model.Confirm_Password, "", new { @class = "alert alert-danger" })
                                </div>
                            </div>
                            <div class="alert alert-danger">@Html.ViewData["Message"]</div>
                            <div class="alert alert-success">@Html.ViewData["MessageS"]</div>
                            <button type="submit" class="btn">Update Password</button>

                            <a href="#" class="btn cancle">Cancle</a>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="recommended-cta">
                            <div class="cta">

                                <div class="single-cta">

                                    <div class="cta-icon icon-secure">
                                        <img src="~/images/icon/13.png" alt="Icon" class="img-fluid">
                                    </div>
                                    <h4>Secure Trading</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                </div>

                                <div class="single-cta">

                                    <div class="cta-icon icon-support">
                                        <img src="~/images/icon/14.png" alt="Icon" class="img-fluid">
                                    </div>
                                    <h4>24/7 Support</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                </div>

                                <div class="single-cta">

                                    <div class="cta-icon icon-trading">
                                        <img src="~/images/icon/15.png" alt="Icon" class="img-fluid">
                                    </div>
                                    <h4>Easy Trading</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                </div>

                                <div class="single-cta">
                                    <h5>Need Help?</h5>
                                    <p><span>Give a call on</span><a href="tellto:08048100000"> 08048100000</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

